node_modules 
.env
config

#File/folder names in the gitignore won't be pushed to github
# This is typically because of sensitive information being inside of these folders OR because the folders are very big